.container {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(calc(-50%), 0);
  
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
  }
  
  .containerButton {
    margin: 5px;
    width: 350px;
    height: 70px;
    border-radius: 10px;
    font-weight: bold;
  }
  
  .containerButton:hover {
    background-color: #198754;
    color: #fff;
    border: 1px solid #198754;
  }
  
  @media only screen and (max-width: 900px) {
    .container {
      grid-template-columns: auto;
    }
    .container button{
      width: 300px;
    }
  }
  