.sidebar {
  padding: 0px;
  border: 0.5px solid #e6e3e3;
  min-height: 100vh;
  background-color: white;
  width: 12%;
}
.sidebar ul{
  list-style: none;
  padding-left: 6px;
}
.sidebarItem{
    font-size: 13px;
    padding-left: 6px;
    padding: 5px;
}
.sidebar a {
  text-decoration: none;
}
.sidebarItem span {
  color: #888;
  padding-left: 6px;
  font-weight: 600;
}
.sidebarTop {
  text-align: center;
  width: 100%;
  display: inherit;
  font-size: 10px;
}
.sidebarContent {
}
.sidebarBottom {
}
.sidebarTitleSection {
  padding-left: 10px;
  color: gray;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 5px;
  margin-top: 15px;
}
